.t {
	border: rgb(170, 255, 0) solid 1px;
}

main {
	display: flex;
}

/* Intro Card */

.intro {
	width: 80%;
	padding-top: 5%;
	margin: auto;
}

.castWrapper {
	width: 80%;
	display: flexbox;
	justify-content: center;
	align-content: center;
	margin: auto;
}

.castImage {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	border: 5px solid var(--accent-color);
	padding: 10px;
}

.castDescript {
	margin: auto;
	z-index: 5;
	width: 85%;
	height: auto;
	text-align: center;
	font-size: 65px;
	padding-bottom: 5%;
}

.castDescript h1 {
	font-family: 'Josefin Sans', sans-serif;
	margin: 40px 0 0 0;
}

.castDescript p {
	margin: auto;
	font-family: 'Jost', sans-serif;
	font-size: 40px;
	padding-bottom: 50px;
}

/* Event Card */
.wt {
	border: 1px red solid;
}

.currentEvents {
	padding-bottom: 10%;
	display: flex;
	flex-direction: row;
	width: 80%;
	height: auto;
	margin: auto;
}

.cardWrapper {
	margin: auto;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.topCard {
	width: 412px;
	height: auto;
	z-index: 1;
}

.topCard img {
	width: 100%;
	border-radius: 7px 7px 0 0;
}

.bottomCard {
	margin-top: 300px;
	padding-top: 10px;
	width: 411px;
	height: auto;
	position: absolute;
	font-family: 'Josefin Sans', sans-serif;
	color: var(--mainCard-background-color);
	border: 1px solid var(--accent-color);
	border-radius: 5px;
	text-align: center;
	padding-bottom: 15px;
}

h3 {
	padding-top: 10px;
	margin: 25% 0 0 0;
	font-size: 35px;
}

.info {
	margin: 5px;
	font-family: 'Jost', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

button {
	position: absolute;
	border: 1px solid var(--accent-color);
	color: var(--mainCard-background-color);
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
	width: 150px;
	height: 40px;
	border-radius: 10px;
}

.available:hover {
	background-color: var(--accent-color);
	cursor: pointer;
}

/* General Card layout ajustments*/
.firstCardBottomBTN {
	margin-top: 560px;
}

.secondCardBottom {
	margin-top: 425px;
}

.secondCardBottomBTN {
	margin-top: 685px;
}

.thirdCardBottomBTN {
	margin-top: 560px;
}
