:root {
	box-sizing: border-box;
	--Background-color: rgb(255, 255, 255);
	--mainCard-background-color: rgb(18, 0, 120);
	--accent-color: rgb(253, 83, 124);
	--secondAccent-color: rgb(254, 205, 26);
	--footer-main: rgb(157, 1, 145);
	--boxShadow-color: rgb(137, 128, 187);
}
