. {
	border: 1px red solid;
}

.cardWrapper {
	margin: auto;
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.topCard {
	width: 300px;
	height: 200px;
}

.topCard img {
	width: 300px;
	box-shadow: 0 0 20px rgba(255, 255, 255);
	border-radius: 7px;
}

.bottomCard {
	margin-top: 100px;
	width: 350px;
	height: 150px;
	position: absolute;
	background-color: rgb(18, 0, 120);
	border-radius: 5px;
}

.bottomCard {
	text-align: center;
}

button {
	position: absolute;
	border: 1px rgb(21, 255, 0) solid;
	width: 75px;
	height: 50px;
	margin-top: 280px;
}
